USE [SaglikOcagiDB]
GO
/****** Object:  Table [dbo].[bulgular]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bulgular](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[tip] [int] NULL,
	[kaydedilmezamani] [datetime] NULL,
	[ziyaretid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doktorlar]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doktorlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](20) NULL,
	[diploma_no] [nvarchar](50) NULL,
	[uzmanlik] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doktorpass]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doktorpass](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kid] [int] NULL,
	[sifre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[duyurular]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duyurular](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](255) NULL,
	[metin] [nvarchar](max) NULL,
	[tarih] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hastalar]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hastalar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tc_no] [nvarchar](11) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](20) NULL,
	[dogum_tarihi] [date] NULL,
	[cinsiyet] [int] NULL,
	[adres] [nvarchar](max) NULL,
	[kan_grubu] [nvarchar](10) NULL,
	[alerjiler] [nvarchar](max) NULL,
	[kronik_hastaliklar] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tc_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilaclar]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilaclar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[barkod] [nvarchar](50) NULL,
	[ad] [nvarchar](100) NULL,
	[etkenmadde] [nvarchar](100) NULL,
	[form] [nvarchar](50) NULL,
	[dozajbilgisi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[istenentetkikler]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[istenentetkikler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[istektarihi] [datetime] NULL,
	[sonuctarihi] [datetime] NULL,
	[sonuc] [nvarchar](max) NULL,
	[yorum] [nvarchar](max) NULL,
	[durum] [int] NULL,
	[ziyaretid] [int] NULL,
	[tetkikid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recetekalemleri]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetekalemleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanimsekli] [nvarchar](100) NULL,
	[doz] [nvarchar](50) NULL,
	[periyot] [nvarchar](50) NULL,
	[adet] [int] NULL,
	[receteid] [int] NULL,
	[ilacid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receteler]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receteler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarih] [date] NULL,
	[gecerliliksuresi] [int] NULL,
	[ziyaretid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tetkikler]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tetkikler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NULL,
	[aciklama] [nvarchar](max) NULL,
	[nderkek] [nvarchar](100) NULL,
	[ndkadin] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yoneticipass]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yoneticipass](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kid] [int] NULL,
	[sifre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ziyaretler]    Script Date: 8.12.2025 22:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ziyaretler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarihsaat] [datetime] NULL,
	[sikayet] [nvarchar](max) NULL,
	[tani] [nvarchar](max) NULL,
	[tedavinotlari] [nvarchar](max) NULL,
	[doktorid] [int] NULL,
	[hastaid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[bulgular]  WITH CHECK ADD FOREIGN KEY([ziyaretid])
REFERENCES [dbo].[ziyaretler] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doktorpass]  WITH CHECK ADD FOREIGN KEY([kid])
REFERENCES [dbo].[doktorlar] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[istenentetkikler]  WITH CHECK ADD FOREIGN KEY([tetkikid])
REFERENCES [dbo].[tetkikler] ([id])
GO
ALTER TABLE [dbo].[istenentetkikler]  WITH CHECK ADD FOREIGN KEY([ziyaretid])
REFERENCES [dbo].[ziyaretler] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recetekalemleri]  WITH CHECK ADD FOREIGN KEY([ilacid])
REFERENCES [dbo].[ilaclar] ([id])
GO
ALTER TABLE [dbo].[recetekalemleri]  WITH CHECK ADD FOREIGN KEY([receteid])
REFERENCES [dbo].[receteler] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receteler]  WITH CHECK ADD FOREIGN KEY([ziyaretid])
REFERENCES [dbo].[ziyaretler] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ziyaretler]  WITH CHECK ADD FOREIGN KEY([doktorid])
REFERENCES [dbo].[doktorlar] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ziyaretler]  WITH CHECK ADD FOREIGN KEY([hastaid])
REFERENCES [dbo].[hastalar] ([id])
ON DELETE CASCADE
GO
